# --- Données générées ---
data/json/results.json
data/json/equipments.json
data/json/ingredients_price.json
data/json/recipes_price.json

# --- Gradle ---
.gradle/
build/

# --- Java ---
*.class
*.jar
*.war
*.log

# --- IDE (VS Code / Eclipse / IntelliJ) ---
.vscode/
.settings/
.classpath
.project
.idea/
*.iml
bin/

# --- Python (ancien code) ---
__pycache__/
*.pyc
venv/

# --- OS ---
.DS_Store
Thumbs.db


Oldsrc/